{% extends "base.html" %}
{% load pygmentize %}
{% load django_bootstrap5 %}

{% block extraheader %}
<style>
    {
        % pygments_css %
    }
</style>
{% endblock %}

{% block main %}
<h2>{{ snippet.title }} by {{ snippet.created_by.username }}</h2>

<div class="snippet-date">
    投稿日: {{ snippet.created_at|date:"DATETIME_FORMAT" }}
    {% if user.is_authenticated and snippet.created_by_id == user.id %}
    <a class="btn btn-primary" href="{% url 'snippet_edit' snippet.id %}">編集</a>
    {% endif %}

    {% if user.is_authenticated and snippet.created_by_id == user.id %}
    <a class="btn btn-primary" href="{% url 'snippet_delete' snippet.id %}">削除</a>
    {% endif %}
</div>

<div class="source-code">
    {{ snippet.code|pygmentize:"python3" }}
</div>

<p>{{ snippet.description }}</p>
<div>
    <h2>コメント一覧</h2>
    {% for comment in comments %}
    {{comment.TEXT}} by {{comment.commented_by.username}}
    <p>投稿日　{{comment.commented_at}}</p>
    {% endfor %}
</div>
<form method="post" action="/snippets/{{snippet.id}}/comments/new/">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="コメントする" %}
</form>
{% endblock %}